@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --brackpont-3xl: 1920px;
  --color-primary: #875cf5;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    overflow-x: hidden;
    transition: all 0.5s ease;
  }
}

.bg-dark {
  @apply bg-[#1b1b35];
}

.bg-light {
  @apply bg-[#F7F5F2];
}

.card {
  @apply p-6 rounded-2xl;
}

.light {
  @apply bg-white border border-gray-300;
}

.dark {
  @apply bg-[#0d0f2d] text-white  border border-gray-800;
}

button {
  cursor: pointer;
}
